html, body {
    margin: 10;
    padding: 10;
    text-align: center;
    background: url(images/snake.jpg);
    background-repeat: no-repeat;
    color: white;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 2px black;
    margin: 0 auto;
    background: white;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: blue;

}

.apple {
    background-color: red;

}
#start{
    padding: 10px 25px;
    background: grey;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
#start:hover,
#satrt:focus{
     background: red;
     color: black;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#out-game{
  display: none;
}